:root{
    --font-default: 'Poppins', sans-serif;
    --font-header: 'Stint Ultra Condensed', cursive;

    --color1: #E7E7DE;
    --color2: #CDCBA6;
    --color3: #008891;
    --color4: #00587A;
    --color5: #0F3057;
}