*{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
	font-family: var(--font-default);
	outline: 0;
}
html,body{
	height: 100%;

}
.clear{
	clear: both;
}