.main-input,.bnt,.textarea{
    width: 100%;
    border: 1px solid #ccc;
    padding:  10px;
    border-radius: 8px;
    margin-bottom: 15px;
}
.textarea{
    resize: vertical;
}
.bnt{
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
    background-color: var(--color2);
    border: 1px solid #b3b191;
    font-weight: bold;
}