.main-skills{
    padding: 20px;
    background-color: var(--color1);
}
.main-skills .main-title{
    text-align: center;
}
.containerskills{
    display: flex;
    margin-top: 15px;
}
.main-skills .single-skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    width: calc(100% / 4);
}