.main-header{
    background-color: var(--color1);
    padding: 10px 2%;
}
.main-header .menu-desktop .ul{
    margin-top: 20px;
}
.main-header .menu-desktop .ul .li{
    display: inline-block;
}
.main-header .menu-desktop .ul .li .a{
    text-decoration: none;
    font-size: 1.2em;
    margin-left: 15px;
    color: var(--color5);
}
.main-header .menu-desktop .ul .li .a:hover{
    color: #2c76cf;
}